@import 'utils';

.story {
  display: block;
  border-radius: 10px;
  padding: 30px 50px;
  margin: 50px 0;
  height: auto;
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  user-select: none;
  .story-header {
    display: flex;
    align-items: center;
    justify-content: center;
    .header-title {
      display: flex;
      margin-right: auto;
      font-size: 20px;
      color: #454545;
      margin-bottom: 12px;
    }
    .header-facebook {
      background: $oc-blue-7;
      padding: 12px 14px;
      border: none;
      outline: none;
      border-radius: 50%;
      cursor: pointer;
      .facebook-logo {
        color: white;
        font-size: 24px;
      }
      &:hover {
        background: $oc-blue-9;
      }
    }
  }
  .story-body {
    margin: 25px 0;
    .body-content {
      font-size: 15px;
      color: #555555;
      line-height: 25px;
      user-select: text;
      white-space: pre-wrap;
      word-wrap: break-word;
      @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
      font-family: 'NanumSquare', sans-serif;
    }
    .body-image {
      border: 1px solid black;
    }
  }
  .story-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @include media('<medium') {
      flex-direction: column;
      .footer-buttons,
      .footer-date {
        margin-top: 12px;
      }
    }
    .footer-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .profile-name {
        margin-left: 12px;
        font-size: 15px;
      }
      .profile-name-underline {
        padding-bottom: 5px;
        border-bottom: 1px solid grey;
      }
      img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
      }
    }
    .footer-date {
      display: flex;
      flex-direction: column;
      text-align: right;
      p {
        font-size: 16px;
        color: #454545;
        opacity: 0.44;
        margin: 5px 0;
      }
    }
    .footer-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .button {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0.6em 1.2em;
        font-size: 1em;
        border-radius: 5px;
        width: 120px;
        span {
          font-family: 'NanumSquare', sans-serif;
          font-weight: 600;
        }
      }
      .allow {
        background: $oc-blue-5;
        &:hover {
          background: $oc-blue-7;
        }
      }
      .reject {
        background-color: $oc-red-5;
        &:hover {
          background-color: $oc-red-7;
        }
      }
      .button + .button {
        margin: 0 12px;
      }
    }
    .admin-date {
      font-size: 16px;
      color: #454545;
      opacity: 0.44;
      margin: 5px 0;
      text-align: center;
    }
  }
}
