@import 'utils';

.image-viewer {
  margin: 30px 0;
  padding: 15px;
  border: 1px solid black;
  width: auto;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  .image-items {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .image-title {
      @include media('<640px') {
        font-size: 12px;
      }
      margin-left: 20px;
    }
    .image-icon {
      @include media('<640px') {
        width: 30px;
        height: 30px;
      }
    }
  }
}
