@import 'utils';

.side-bar-container {
  position: fixed;
  display: flex;
  flex: none;
  height: 100vh;
  width: 350px;
  background-color: #f2f2f5;
  box-shadow: black -70px 0 100px;
  -webkit-box-shadow: black -70px 0 100px;
  -moz-box-shadow: black -70px 0 100px;
  z-index: 1;
  @include media('<large') {
    display: none;
  }
  .side-bar {
    margin: auto;
    margin-top: 50px;
    width: 210px;
    user-select: none;
  }
  .side-bar-logo {
    .logo-img {
      width: 70px;
      height: 70px;
    }
  }
  .side-bar-items {
    width: 210px;
    margin: auto;
    user-select: none;
    .side-bar-list {
      margin-top: 50px;
      padding: 0;
      list-style-type: none;
      .list-title {
        font-size: 18px;
        color: #454545;
        font-weight: 800;
      }
      .list-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        .menu-icon,
        .menu-name {
          color: black;
          opacity: 0.7;
          margin-right: 16px;
          font-weight: 400;
        }
      }
    }
  }
  .active {
    .menu-name,
    .menu-icon {
      opacity: 1 !important;
      font-weight: 800 !important;
    }
  }
}

.side-bar-mobile {
  display: none;
  flex-direction: row;
  background: $oc-gray-7;
  height: 5rem;
  padding: 0 30px;
  width: 100%;
  align-items: center;
  @include media('<large') {
    display: flex;
  }
  .mobile-logo {
    width: 50px;
    height: 50px;
  }
  .mobile-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    list-style-type: none;
    li {
      @include media('<640px') {
        font-size: 10px;
      }
      padding: 0.7em;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      margin-right: 16px;
      cursor: pointer;
    }
  }
}
