.image-upload{
    width: 900px;
    height: 150px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #EBEBEB;
    overflow: hidden;
    .upload-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        cursor: pointer;
        background-color: transparent;
        border: 2px dashed #bebebe;
        font-size: 40px;
        color: #bebebe;
        &:hover{
            color: #9b9b9b;
        }
    }
    .primary-upload-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        cursor: pointer;
        border-radius: 15px;
        background-color: #454545;
        font-size: 16px;
        color: white;
        &:hover{
            background-color: #2e2e2e;
        }
    }
    .blind{
        overflow: hidden!important;
        position: absolute!important;
        clip: rect(0 0 0 0)!important;
        width: 1px!important;
        height: 1px!important;
        margin: -1px!important; 
    }
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}